<div>    
    <label>+{{character.skills.acrobatics}} Akrobatik (Ges)</label>
    <label>+{{character.skills.arcana}} Arkane Kunde (Int)</label>
    <label>+{{character.skills.athletics}} Athletik (Stä)</label>
    <label>+{{character.skills.performance}} Auftreten (Cha)</label>
    <label>+{{character.skills.intimidation}} Einschüchtern (Cha)</label>
    <label>+{{character.skills.sleight_of_hand}} Fingerfertigkeit (Ges)</label>
    <label>+{{character.skills.history}} Geschichte (Int)</label>
    <label>+{{character.skills.medicine}} Heilkunde (Wei)</label>
    <label>+{{character.skills.stealth}} Heimlichkeit (Ges)</label>
    <label>+{{character.skills.animal_handling}} Mit Tieren umgehen (Wei)</label>    
    <label>+{{character.skills.insight}} Motiv erkennen (Wei)</label>
    <label>+{{character.skills.investigation}} Nachforschungen (Int)</label>
    <label>+{{character.skills.nature}} Naturkunde (Int)</label>
    <label>+{{character.skills.religion}} Religion (Int)</label>
    <label>+{{character.skills.deception}} Täuschen (Ges)</label>
    <label>+{{character.skills.survival}} Überlebenskunst (Wei)</label>
    <label>+{{character.skills.persuasion}} Überzeugen (Cha)</label>
    <label>+{{character.skills.perception}} Wahrnehmung (Wei)</label>    
</div>
