<div class="rounded-xl border border-cyan-400 dark:border-cyan-700">  
  <label for="name">Name</label>
  <input id="name" [(ngModel)]="char.base.character_name" placeholder="Name" />
  
  <label for="name">Level</label>
  <input id="name" [(ngModel)]="char.base.level" placeholder="Level" />  
  
  <label for="player_name">Spielername</label>
  <input id="player_name" [(ngModel)]="char.base.player_name" placeholder="Spielername"/>

  <label for="race">Volk</label>
  <input id="race" [(ngModel)]="char.base.race" placeholder="Rasse (Subrasse)" />    

  <label for="background">Hintergrund</label>
  <input id="background" [(ngModel)]="char.base.background" placeholder="Hintergrund" />  
</div>
