<div>
  <label for="name">Name</label>
  <input id="name" [(ngModel)]="char.base.character_name" placeholder="Name" />
  <label for="name">Level</label>
  <input id="name" [(ngModel)]="char.base.level" placeholder="Level" />
</div>
<div>
  <label for="player_name">Spielername</label>
  <input
    id="player_name"
    [(ngModel)]="char.base.player_name"
    placeholder="Spielername"
  />
</div>

<div>
  <label for="race">Volk</label>
  <input id="race" [(ngModel)]="char.base.race" placeholder="Rasse" />
  <label for="sub_race">Subvolk</label>
  <input id="sub_race" [(ngModel)]="char.base.sub_race" placeholder="Rasse" />
</div>

<div>
  <label for="background">Hintergrund</label>
  <input
    id="background"
    [(ngModel)]="char.base.background"
    placeholder="HIntergrund"
  />
</div>

<div>
  <label>Erfahrungspunkte</label>
  <input type="text" />
</div>
